<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link href="images/favicon.ico" rel="icon">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">

    <% if (page) { %>
        <title>
            <%= page %> | Warrior Glow
        </title>
        <% } else { %>
            <title>Warrior Glow</title>
            <% } %>

                <!-- Font-awesome icons -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
                    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
                    crossorigin="anonymous" referrerpolicy="no-referrer" />

                <!-- CSS FILES -->
                <link href="css/bootstrap.min.css" rel="stylesheet">

                <link href="css/bootstrap-icons.css" rel="stylesheet">

                <link href="css/main.css" rel="stylesheet">

</head>

<body id="section_1">



    <main>
        <%- include('../partials/navigation')%>
            <main>
                <%- include('../partials/flash')%>
                    <%- body %>
            </main>
            <%- include('../partials/footer')%>
    </main>



    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/click-scroll.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>